html {
  background-color: white;
}

.container {
  background-color: rgb(253, 253, 253);
  display: flex;
  position: relative;
  margin: auto;
  margin-top: 150px;
  color: rgb(27, 25, 61);
  width: 700px;
  height: 489px;
  border-radius: 30px;
  box-shadow: -10px -5px 50px 12px;
}
